/* body elements */
body {
	background-color: rgb(240, 240, 240);
	padding: 0;
	margin: 0;
}
/* text styling */
h1 	{
	font-family: "Noto Serif", serif;
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 1000;
	letter-spacing: 0.04em;
}
h2	{
	font-family: "Noto Serif", serif;
}
h3 	{
	font-family: "Noto Serif", serif;
}
h4 	{
	font-family: "Noto Serif", serif;
	margin: 0;
	padding:4px;
	
}
p 	{
	font-family: "Noto Serif", serif;
	/*font-size: 0.875em; /* 14px/16=0.875em */
	font-size: 20px;
	letter-spacing: 0.04em;
	margin: 0;
	padding: 5px;

}
#headercentre {
    background-color:white;
    height:75px;
    width:1019px;
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
    padding:5px;
}

/* grey line to separate page elements */
.grayline {
	background-color: rgb(240, 240, 240);
    height:20px;
    width:1024px;
	margin-left: auto;
    margin-right: auto;
}

#text_block {
    background-color:white;
    height:500px;
    width:980px;
	padding-left:50px;
	padding-top:30px;
	margin-left: auto;
    margin-right: auto;
}