/* body elements */
body {
	background-color: rgb(240, 240, 240);
	padding: 0;
	margin: 0;
	font-family: 'Noto', serif;
	font-size: 20px;
	color: #474747
}
/* text styling */
h1, h2, h3, h4, h5, h6 {
   font-family: 'Noto', serif;
}


#headercentre {
    background-color:white;
    height:75px;
    width:1018px;
	margin-top: 30px;
	margin-left: auto;
    margin-right: auto;
    padding:5px;
}

/* link styling */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
/* grey line to separate page elements */
.grayline {
	background-color: rgb(240, 240, 240);
    height:15px;
    width:1024px;
	margin-left: auto;
    margin-right: auto;
}
/* text boxes - variable sizes */
#text_before_map {
    background-color:white;
    height:200px;
    width:956px;
	padding-left:50px;
	padding-top:5px;
	padding-right:20px;
	margin-left: auto;
    margin-right: auto;
}
#text_after_map {
    background-color:white;
    height:500px;
    width:976px;
	padding-left:50px;
	padding-top:25px;
	margin-left: auto;
    margin-right: auto;
}

/* Google map div */
 #map {
    height:600px;
    width:1024px;
	margin-left: auto;
    margin-right: auto;
	padding:0;
}